<div class='jumbotron'>
  <div class='col-md-6 text-center'>
    <%= form_for(:session, url: 'signin', method: :post) do |f| %>
      <div class='form_group'>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class='form_group'>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class='form_group'>
        <%= f.submit 'Sign in', class: 'btn btn-large btn-primary' %>
      </div>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', new_user_path %></p>
  </div>
</div>